*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#cbbdbf;
}
.container{
     width: 100%;
    height: 450px;
    margin-top: 160px;
     /* background-color:#cbbdbf; */
     display: flex;
     flex-direction: column;
     align-items: center;
     /* justify-content:center; */
  
}
.title{
    width: 330px;
    height: 50px;
    background-color:#cccecf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head{
    width: 100px;
    height: 30px;
    background-color:#cccecf ;
    text-align: center;
    padding: 5px; 
    border-radius: 10%;
}
.box{
    padding: 15px;
    background-color:#cccecf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 40px;
    grid-column-gap:3px;
    justify-content:center;
    align-items:center;
}
.color{
    color: red;
}
.con{
   padding:6px;
    font-size: 15px;
    text-align: center;
    border-radius: 10%;
}
.btn{
    width: 50px;
    height: 30px;
    background-color:#cccecf;
    border: none;
    border-radius: 10%;
}
.btn1{
    width: 50px;
    height: 30px;
    background-color: #cccecf;
    border: none;
    border-radius: 10%;
}
.style1{
    grid-column: 6/7;
}
.style2{
    grid-column: 2/3;
}
.style3{
    grid-column: 5/6;
}
.style4{
    grid-column: 7/8;
}
.style5{
    grid-column: 3/4;
}
.style6{
   grid-column: 6/5;
}
.style7{
    grid-column:1/2 ;
}
.style8{
    grid-column: 4/5;
}



